linux
rootfs
opensource
beagle_linux
beagle_deploy
*.o
*.o.cmd
*.d
*.ko
*.ko.cmd
*.mod.c
.ycm_extra_conf.py
tags
cscope.out
.tmp_versions
Module.symvers
modules.order

# programs created by examples
mp
mplib
mpsys
On branch master
moddev/practice/245/proc/proc/mcat
moddev/practice/245/proc/variants.le.3.9/mcat
moddev/practice/245/proc/variants.le.3.9/recho
moddev/practice/245/proc/variants.le.3.9/rtest
